$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktop-xl: 1440px;



// Colors y fuente

$turquese: #4EE1A0;
$black: #151515;
$grey: #242424;
$bone: #d9d9d9;
$white: #FFFFFF;


$primary-font: "Space Grotesk", sans-serif;








