@use '../abstracts' as *;

.btn {
  @include button();
  width: fit-content;
  position: relative;
  padding-bottom: 8px;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 130px;
    height: 3px;
    background-color: $turquese;
  }
}

